<a href="https://colab.research.google.com/github/Akashpandey1507/Interview-Preparation/blob/main/Pyspark_select_dtypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=eadd62fa8dcf9cbb4c5bbc83e337eba72ed3ec7f7dae7d661c7256900527798e
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
file = r"/content/drive/MyDrive/Data Analysis Files/SampleSuperstore.csv"

In [3]:
from pyspark.sql import SparkSession
import pyspark

# Create a SparkSession
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .config("spark.some.config.option", "config-value") \
    .getOrCreate()

# Now you can use the 'spark' object to work with Spark APIs.

In [4]:
df = spark.read.csv(file, header=True, inferSchema=True)

In [5]:
pdf = df.cache()
pdf.show()

+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|     Ship Mode|    Segment|      Country|           City|         State|Postal Code| Region|       Category|Sub-Category|   Sales|Quantity|Discount|  Profit|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|   Bookcases|  261.96|       2|     0.0| 41.9136|
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|      Chairs|  731.94|       3|     0.0| 219.582|
|  Second Class|  Corporate|United States|    Los Angeles|    California|      90036|   West|Office Supplies|      Labels|   14.62|       2|     0.0|  6.8714|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|      Furniture|      Tables|957.5775|       5|    0.45|-383.031|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|Office Supplies|     Storage|  22.368|       2|     0.2|  2.5164|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture| Furnishings|   48.86|       7|     0.0| 14.1694|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|         Art|    7.28|       4|     0.0|  1.9656|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 907.152|       6|     0.2| 90.7152|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|     Binders|  18.504|       3|     0.2|  5.7825|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|  Appliances|   114.9|       5|     0.0|   34.47|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture|      Tables|1706.184|       9|     0.2| 85.3092|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 911.424|       4|     0.2| 68.3568|
|Standard Class|   Consumer|United States|        Concord|North Carolina|      28027|  South|Office Supplies|       Paper|  15.552|       3|     0.2|  5.4432|
|Standard Class|   Consumer|United States|        Seattle|    Washington|      98103|   West|Office Supplies|     Binders| 407.976|       3|     0.2|132.5922|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|  Appliances|   68.81|       5|     0.8|-123.858|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|     Binders|   2.544|       3|     0.8|  -3.816|
|Standard Class|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|Office Supplies|     Storage|  665.88|       6|     0.0| 13.3176|
|  Second Class|   Consumer|United States|    West Jordan|          Utah|      84084|   West|Office Supplies|     Storage|    55.5|       2|     0.0|    9.99|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|Office Supplies|         Art|    8.56|       2|     0.0|  2.4824|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|     Technology|      Phones|  213.48|       3|     0.2|  16.011|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [46]:
df.count()

9994

In [47]:
df.columns

['Ship Mode',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Category',
 'Sub-Category',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [49]:
len(df.columns)

13

In [52]:
df.dtypes

[('Ship Mode', 'string'),
 ('Segment', 'string'),
 ('Country', 'string'),
 ('City', 'string'),
 ('State', 'string'),
 ('Postal Code', 'int'),
 ('Region', 'string'),
 ('Category', 'string'),
 ('Sub-Category', 'string'),
 ('Sales', 'double'),
 ('Quantity', 'int'),
 ('Discount', 'double'),
 ('Profit', 'double')]

In [57]:
string_datatype = [type_col for type_col, type_datatype in df.dtypes if type_datatype in ['string']]
string_datatype

['Ship Mode',
 'Segment',
 'Country',
 'City',
 'State',
 'Region',
 'Category',
 'Sub-Category']

In [59]:
numeric_datatype = [type_col for type_col, type_datatype in df.dtypes if type_datatype in ['int', 'double']]
numeric_datatype

['Postal Code', 'Sales', 'Quantity', 'Discount', 'Profit']

In [61]:
df.select(string_datatype).show()  # select all string columns

+--------------+-----------+-------------+---------------+--------------+-------+---------------+------------+
|     Ship Mode|    Segment|      Country|           City|         State| Region|       Category|Sub-Category|
+--------------+-----------+-------------+---------------+--------------+-------+---------------+------------+
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|  South|      Furniture|   Bookcases|
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|  South|      Furniture|      Chairs|
|  Second Class|  Corporate|United States|    Los Angeles|    California|   West|Office Supplies|      Labels|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|  South|      Furniture|      Tables|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|  South|Office Supplies|     Storage|
|Standard Class|   Consumer|United States|    Los Angeles|    California|   West|      Furniture| Furnishings|
|Standard Class|   Consumer|United States|    Los Angeles|    California|   West|Office Supplies|         Art|
|Standard Class|   Consumer|United States|    Los Angeles|    California|   West|     Technology|      Phones|
|Standard Class|   Consumer|United States|    Los Angeles|    California|   West|Office Supplies|     Binders|
|Standard Class|   Consumer|United States|    Los Angeles|    California|   West|Office Supplies|  Appliances|
|Standard Class|   Consumer|United States|    Los Angeles|    California|   West|      Furniture|      Tables|
|Standard Class|   Consumer|United States|    Los Angeles|    California|   West|     Technology|      Phones|
|Standard Class|   Consumer|United States|        Concord|North Carolina|  South|Office Supplies|       Paper|
|Standard Class|   Consumer|United States|        Seattle|    Washington|   West|Office Supplies|     Binders|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|Central|Office Supplies|  Appliances|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|Central|Office Supplies|     Binders|
|Standard Class|   Consumer|United States|        Madison|     Wisconsin|Central|Office Supplies|     Storage|
|  Second Class|   Consumer|United States|    West Jordan|          Utah|   West|Office Supplies|     Storage|
|  Second Class|   Consumer|United States|  San Francisco|    California|   West|Office Supplies|         Art|
|  Second Class|   Consumer|United States|  San Francisco|    California|   West|     Technology|      Phones|
+--------------+-----------+-------------+---------------+--------------+-------+---------------+------------+
only showing top 20 rows

In [63]:
df.select(numeric_datatype).show()   # show only that columns who is having numeric values

+-----------+--------+--------+--------+--------+
|Postal Code|   Sales|Quantity|Discount|  Profit|
+-----------+--------+--------+--------+--------+
|      42420|  261.96|       2|     0.0| 41.9136|
|      42420|  731.94|       3|     0.0| 219.582|
|      90036|   14.62|       2|     0.0|  6.8714|
|      33311|957.5775|       5|    0.45|-383.031|
|      33311|  22.368|       2|     0.2|  2.5164|
|      90032|   48.86|       7|     0.0| 14.1694|
|      90032|    7.28|       4|     0.0|  1.9656|
|      90032| 907.152|       6|     0.2| 90.7152|
|      90032|  18.504|       3|     0.2|  5.7825|
|      90032|   114.9|       5|     0.0|   34.47|
|      90032|1706.184|       9|     0.2| 85.3092|
|      90032| 911.424|       4|     0.2| 68.3568|
|      28027|  15.552|       3|     0.2|  5.4432|
|      98103| 407.976|       3|     0.2|132.5922|
|      76106|   68.81|       5|     0.8|-123.858|
|      76106|   2.544|       3|     0.8|  -3.816|
|      53711|  665.88|       6|     0.0| 13.3176|
|      84084|    55.5|       2|     0.0|    9.99|
|      94109|    8.56|       2|     0.0|  2.4824|
|      94109|  213.48|       3|     0.2|  16.011|
+-----------+--------+--------+--------+--------+
only showing top 20 rows