<a href="https://colab.research.google.com/github/Akashpandey1507/Interview-Preparation/blob/main/Pyspark_IPL_2008_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=71288da3b67f353a64d76b007a28d6f51f1daf167ca3813fdcb83483baed3327
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
file = r"/content/drive/MyDrive/Data Analysis Files/Indian Premier League"

In [ ]:
from pyspark.sql import SparkSession
import pyspark

# Create a SparkSession
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .config("spark.some.config.option", "config-value") \
    .getOrCreate()

# Now you can use the 'spark' object to work with Spark APIs.

In [ ]:
import os

files = os.listdir(file)
files

['matches.csv', 'deliveries.csv']

In [ ]:
match_file = f"{file}/{files[0]}"
deliveries_file = f"{file}/{files[1]}"

In [ ]:
match_df = spark.read.csv(
                                        match_file,
                                        header=True,
                                        inferSchema=True
                                        )



deliveries_df = spark.read.csv(
                                        deliveries_file,
                                        header=True,
                                        inferSchema=True
                                        )

In [ ]:
match_df.columns

['id',
 'season',
 'city',
 'date',
 'team1',
 'team2',
 'toss_winner',
 'toss_decision',
 'result',
 'dl_applied',
 'winner',
 'win_by_runs',
 'win_by_wickets',
 'player_of_match',
 'venue',
 'umpire1',
 'umpire2',
 'umpire3']

In [ ]:
deliveries_df = deliveries_df.withColumnRenamed("match_id", "id")

In [ ]:
deliveries_df.columns

['id',
 'inning',
 'batting_team',
 'bowling_team',
 'over',
 'ball',
 'batsman',
 'non_striker',
 'bowler',
 'is_super_over',
 'wide_runs',
 'bye_runs',
 'legbye_runs',
 'noball_runs',
 'penalty_runs',
 'batsman_runs',
 'extra_runs',
 'total_runs',
 'player_dismissed',
 'dismissal_kind',
 'fielder']

In [ ]:
merge_ipl_datasets = match_df.join(deliveries_df, on="id")

In [ ]:
df = merge_ipl_datasets.alias('copy')
df.show()

+---+------+---------+----------+-------------------+--------------------+--------------------+-------------+------+----------+-------------------+-----------+--------------+---------------+--------------------+-----------+--------+-------+------+-------------------+--------------------+----+----+------------+------------+-----------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------------+
| id|season|     city|      date|              team1|               team2|         toss_winner|toss_decision|result|dl_applied|             winner|win_by_runs|win_by_wickets|player_of_match|               venue|    umpire1| umpire2|umpire3|inning|       batting_team|        bowling_team|over|ball|     batsman| non_striker|     bowler|is_super_over|wide_runs|bye_runs|legbye_runs|noball_runs|penalty_runs|batsman_runs|extra_runs|total_runs|player_dismissed|dismissal_kind|      fielder|
+---+------+---------+----------+-------------------+--------------------+--------------------+-------------+------+----------+-------------------+-----------+--------------+---------------+--------------------+-----------+--------+-------+------+-------------------+--------------------+----+----+------------+------------+-----------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------------+
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   1|   DA Warner|    S Dhawan|   TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   2|   DA Warner|    S Dhawan|   TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   3|   DA Warner|    S Dhawan|   TS Mills|            0|        0|       0|          0|          0|           0|           4|         0|         4|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   4|   DA Warner|    S Dhawan|   TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   5|   DA Warner|    S Dhawan|   TS Mills|            0|        2|       0|          0|          0|           0|           0|         2|         2|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   6|    S Dhawan|   DA Warner|   TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   7|    S Dhawan|   DA Warner|   TS Mills|            0|        0|       0|          1|          0|           0|           0|         1|         1|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   2|   1|    S Dhawan|   DA Warner|A Choudhary|            0|        0|       0|          0|          0|           0|           1|         0|         1|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   2|   2|   DA Warner|    S Dhawan|A Choudhary|            0|        0|       0|          0|          0|           0|           4|         0|         4|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   2|   3|   DA Warner|    S Dhawan|A Choudhary|            0|        0|       0|          0|          1|           0|           0|         1|         1|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   2|   4|   DA Warner|    S Dhawan|A Choudhary|            0|        0|       0|          0|          0|           0|           6|         0|         6|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   2|   5|   DA Warner|    S Dhawan|A Choudhary|            0|        0|       0|          0|          0|           0|           0|         0|         0|       DA Warner|        caught|Mandeep Singh|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   2|   6|MC Henriques|    S Dhawan|A Choudhary|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   2|   7|MC Henriques|    S Dhawan|A Choudhary|            0|        0|       0|          0|          0|           0|           4|         0|         4|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   3|   1|    S Dhawan|MC Henriques|   TS Mills|            0|        0|       0|          0|          0|           0|           1|         0|         1|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   3|   2|MC Henriques|    S Dhawan|   TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   3|   3|MC Henriques|    S Dhawan|   TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   3|   4|MC Henriques|    S Dhawan|   TS Mills|            0|        0|       0|          0|          0|           0|           3|         0|         3|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   3|   5|    S Dhawan|MC Henriques|   TS Mills|            0|        0|       0|          0|          0|           0|           1|         0|         1|            NULL|          NULL|         NULL|
|  1|  2017|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0|Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|     1|Sunrisers Hyderabad|Royal Challengers...|   3|   6|MC Henriques|    S Dhawan|   TS Mills|            0|        0|       0|          0|          0|           0|           1|         0|         1|            NULL|          NULL|         NULL|
+---+------+---------+----------+-------------------+--------------------+--------------------+-------------+------+----------+-------------------+-----------+--------------+---------------+--------------------+-----------+--------+-------+------+-------------------+--------------------+----+----+------------+------------+-----------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------------+
only showing top 20 rows

In [ ]:
df.count()

179078

In [ ]:
df.columns

['id',
 'season',
 'city',
 'date',
 'team1',
 'team2',
 'toss_winner',
 'toss_decision',
 'result',
 'dl_applied',
 'winner',
 'win_by_runs',
 'win_by_wickets',
 'player_of_match',
 'venue',
 'umpire1',
 'umpire2',
 'umpire3',
 'inning',
 'batting_team',
 'bowling_team',
 'over',
 'ball',
 'batsman',
 'non_striker',
 'bowler',
 'is_super_over',
 'wide_runs',
 'bye_runs',
 'legbye_runs',
 'noball_runs',
 'penalty_runs',
 'batsman_runs',
 'extra_runs',
 'total_runs',
 'player_dismissed',
 'dismissal_kind',
 'fielder']

In [ ]:
len(df.columns)

38

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df.select([sum(col(i).isNull().cast('int')).alias(i) for i in df.columns]).show()

+---+------+----+----+-----+-----+-----------+-------------+------+----------+------+-----------+--------------+---------------+-----+-------+-------+-------+------+------------+------------+----+----+-------+-----------+------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
| id|season|city|date|team1|team2|toss_winner|toss_decision|result|dl_applied|winner|win_by_runs|win_by_wickets|player_of_match|venue|umpire1|umpire2|umpire3|inning|batting_team|bowling_team|over|ball|batsman|non_striker|bowler|is_super_over|wide_runs|bye_runs|legbye_runs|noball_runs|penalty_runs|batsman_runs|extra_runs|total_runs|player_dismissed|dismissal_kind|fielder|
+---+------+----+----+-----+-----+-----------+-------------+------+----------+------+-----------+--------------+---------------+-----+-------+-------+-------+------+------------+------------+----+----+-------+-----------+------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
|  0|     0|1700|   0|    0|    0|          0|            0|     0|         0|   372|          0|             0|            372|    0|    500|    500| 150712|     0|           0|           0|   0|   0|      0|          0|     0|            0|        0|       0|          0|          0|           0|           0|         0|         0|          170244|        170244| 172630|
+---+------+----+----+-----+-----+-----------+-------------+------+----------+------+-----------+--------------+---------------+-----+-------+-------+-------+------+------------+------------+----+----+-------+-----------+------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+

In [ ]:
[column for column, datatypes in df.dtypes if datatypes in ['string']]

['city',
 'date',
 'team1',
 'team2',
 'toss_winner',
 'toss_decision',
 'result',
 'winner',
 'player_of_match',
 'venue',
 'umpire1',
 'umpire2',
 'umpire3',
 'batting_team',
 'bowling_team',
 'batsman',
 'non_striker',
 'bowler',
 'player_dismissed',
 'dismissal_kind',
 'fielder']

In [ ]:
df.select([column for column, datatypes in df.dtypes if datatypes in ['string']]).show()

+---------+----------+-------------------+--------------------+--------------------+-------------+------+-------------------+---------------+--------------------+-----------+--------+-------+-------------------+--------------------+------------+------------+-----------+----------------+--------------+-------------+
|     city|      date|              team1|               team2|         toss_winner|toss_decision|result|             winner|player_of_match|               venue|    umpire1| umpire2|umpire3|       batting_team|        bowling_team|     batsman| non_striker|     bowler|player_dismissed|dismissal_kind|      fielder|
+---------+----------+-------------------+--------------------+--------------------+-------------+------+-------------------+---------------+--------------------+-----------+--------+-------+-------------------+--------------------+------------+------------+-----------+----------------+--------------+-------------+
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|   DA Warner|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|   DA Warner|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|   DA Warner|A Choudhary|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|A Choudhary|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|A Choudhary|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|A Choudhary|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|A Choudhary|       DA Warner|        caught|Mandeep Singh|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|A Choudhary|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|A Choudhary|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|MC Henriques|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|MC Henriques|   TS Mills|            NULL|          NULL|         NULL|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|   NULL|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|   TS Mills|            NULL|          NULL|         NULL|
+---------+----------+-------------------+--------------------+--------------------+-------------+------+-------------------+---------------+--------------------+-----------+--------+-------+-------------------+--------------------+------------+------------+-----------+----------------+--------------+-------------+
only showing top 20 rows

In [ ]:
df.select([column for column, datatypes in df.dtypes if datatypes in ['string']]).columns

['city',
 'date',
 'team1',
 'team2',
 'toss_winner',
 'toss_decision',
 'result',
 'winner',
 'player_of_match',
 'venue',
 'umpire1',
 'umpire2',
 'umpire3',
 'batting_team',
 'bowling_team',
 'batsman',
 'non_striker',
 'bowler',
 'player_dismissed',
 'dismissal_kind',
 'fielder']

In [ ]:
for i in df.select([column for column, datatypes in df.dtypes if datatypes in ['string']]).columns:
    df = df.withColumn(
                                i, when(df[i].isNull(), "NA").
                                otherwise(df[i])
    )

In [ ]:
df.select([column for column, datatypes in df.dtypes if datatypes in ['string']]).show()

+---------+----------+-------------------+--------------------+--------------------+-------------+------+-------------------+---------------+--------------------+-----------+--------+-------+-------------------+--------------------+------------+------------+-----------+----------------+--------------+-------------+
|     city|      date|              team1|               team2|         toss_winner|toss_decision|result|             winner|player_of_match|               venue|    umpire1| umpire2|umpire3|       batting_team|        bowling_team|     batsman| non_striker|     bowler|player_dismissed|dismissal_kind|      fielder|
+---------+----------+-------------------+--------------------+--------------------+-------------+------+-------------------+---------------+--------------------+-----------+--------+-------+-------------------+--------------------+------------+------------+-----------+----------------+--------------+-------------+
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|   DA Warner|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|   DA Warner|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|   DA Warner|A Choudhary|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|A Choudhary|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|A Choudhary|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|A Choudhary|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|   DA Warner|    S Dhawan|A Choudhary|       DA Warner|        caught|Mandeep Singh|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|A Choudhary|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|A Choudhary|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|MC Henriques|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|    S Dhawan|MC Henriques|   TS Mills|              NA|            NA|           NA|
|Hyderabad|2017-04-05|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|Sunrisers Hyderabad|   Yuvraj Singh|Rajiv Gandhi Inte...|AY Dandekar|NJ Llong|     NA|Sunrisers Hyderabad|Royal Challengers...|MC Henriques|    S Dhawan|   TS Mills|              NA|            NA|           NA|
+---------+----------+-------------------+--------------------+--------------------+-------------+------+-------------------+---------------+--------------------+-----------+--------+-------+-------------------+--------------------+------------+------------+-----------+----------------+--------------+-------------+
only showing top 20 rows

In [ ]:
df.select([sum(col(i).isNull().cast('int')).alias(i) for i in df.select([column for column, datatypes in df.dtypes if datatypes in ['string']]).columns]).show()

+----+----+-----+-----+-----------+-------------+------+------+---------------+-----+-------+-------+-------+------------+------------+-------+-----------+------+----------------+--------------+-------+
|city|date|team1|team2|toss_winner|toss_decision|result|winner|player_of_match|venue|umpire1|umpire2|umpire3|batting_team|bowling_team|batsman|non_striker|bowler|player_dismissed|dismissal_kind|fielder|
+----+----+-----+-----+-----------+-------------+------+------+---------------+-----+-------+-------+-------+------------+------------+-------+-----------+------+----------------+--------------+-------+
|   0|   0|    0|    0|          0|            0|     0|     0|              0|    0|      0|      0|      0|           0|           0|      0|          0|     0|               0|             0|      0|
+----+----+-----+-----+-----------+-------------+------+------+---------------+-----+-------+-------+-------+------------+------------+-------+-----------+------+----------------+--------------+-------+

In [ ]:
[column for column, datatypes in df.dtypes if datatypes in ['int']]

['id',
 'season',
 'dl_applied',
 'win_by_runs',
 'win_by_wickets',
 'inning',
 'over',
 'ball',
 'is_super_over',
 'wide_runs',
 'bye_runs',
 'legbye_runs',
 'noball_runs',
 'penalty_runs',
 'batsman_runs',
 'extra_runs',
 'total_runs']

In [ ]:
df.select([column for column, datatypes in df.dtypes if datatypes in ['int']]).show()

+---+------+----------+-----------+--------------+------+----+----+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+
| id|season|dl_applied|win_by_runs|win_by_wickets|inning|over|ball|is_super_over|wide_runs|bye_runs|legbye_runs|noball_runs|penalty_runs|batsman_runs|extra_runs|total_runs|
+---+------+----------+-----------+--------------+------+----+----+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+
|  1|  2017|         0|         35|             0|     1|   1|   1|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   1|   2|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   1|   3|            0|        0|       0|          0|          0|           0|           4|         0|         4|
|  1|  2017|         0|         35|             0|     1|   1|   4|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   1|   5|            0|        2|       0|          0|          0|           0|           0|         2|         2|
|  1|  2017|         0|         35|             0|     1|   1|   6|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   1|   7|            0|        0|       0|          1|          0|           0|           0|         1|         1|
|  1|  2017|         0|         35|             0|     1|   2|   1|            0|        0|       0|          0|          0|           0|           1|         0|         1|
|  1|  2017|         0|         35|             0|     1|   2|   2|            0|        0|       0|          0|          0|           0|           4|         0|         4|
|  1|  2017|         0|         35|             0|     1|   2|   3|            0|        0|       0|          0|          1|           0|           0|         1|         1|
|  1|  2017|         0|         35|             0|     1|   2|   4|            0|        0|       0|          0|          0|           0|           6|         0|         6|
|  1|  2017|         0|         35|             0|     1|   2|   5|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   2|   6|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   2|   7|            0|        0|       0|          0|          0|           0|           4|         0|         4|
|  1|  2017|         0|         35|             0|     1|   3|   1|            0|        0|       0|          0|          0|           0|           1|         0|         1|
|  1|  2017|         0|         35|             0|     1|   3|   2|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   3|   3|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   3|   4|            0|        0|       0|          0|          0|           0|           3|         0|         3|
|  1|  2017|         0|         35|             0|     1|   3|   5|            0|        0|       0|          0|          0|           0|           1|         0|         1|
|  1|  2017|         0|         35|             0|     1|   3|   6|            0|        0|       0|          0|          0|           0|           1|         0|         1|
+---+------+----------+-----------+--------------+------+----+----+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+
only showing top 20 rows

In [ ]:
df.select([column for column, datatypes in df.dtypes if datatypes in ['int']]).columns

['id',
 'season',
 'dl_applied',
 'win_by_runs',
 'win_by_wickets',
 'inning',
 'over',
 'ball',
 'is_super_over',
 'wide_runs',
 'bye_runs',
 'legbye_runs',
 'noball_runs',
 'penalty_runs',
 'batsman_runs',
 'extra_runs',
 'total_runs']

In [ ]:
for i in df.select([column for column, datatypes in df.dtypes if datatypes in ['int']]).columns:
    df = df.withColumn(
                              i,
                                 when(df[i].isNull(),0).
                                  otherwise(df[i])
    )

In [ ]:
df.select(df.select([column for column, datatypes in df.dtypes if datatypes in ['int']]).columns).show()

+---+------+----------+-----------+--------------+------+----+----+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+
| id|season|dl_applied|win_by_runs|win_by_wickets|inning|over|ball|is_super_over|wide_runs|bye_runs|legbye_runs|noball_runs|penalty_runs|batsman_runs|extra_runs|total_runs|
+---+------+----------+-----------+--------------+------+----+----+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+
|  1|  2017|         0|         35|             0|     1|   1|   1|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   1|   2|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   1|   3|            0|        0|       0|          0|          0|           0|           4|         0|         4|
|  1|  2017|         0|         35|             0|     1|   1|   4|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   1|   5|            0|        2|       0|          0|          0|           0|           0|         2|         2|
|  1|  2017|         0|         35|             0|     1|   1|   6|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   1|   7|            0|        0|       0|          1|          0|           0|           0|         1|         1|
|  1|  2017|         0|         35|             0|     1|   2|   1|            0|        0|       0|          0|          0|           0|           1|         0|         1|
|  1|  2017|         0|         35|             0|     1|   2|   2|            0|        0|       0|          0|          0|           0|           4|         0|         4|
|  1|  2017|         0|         35|             0|     1|   2|   3|            0|        0|       0|          0|          1|           0|           0|         1|         1|
|  1|  2017|         0|         35|             0|     1|   2|   4|            0|        0|       0|          0|          0|           0|           6|         0|         6|
|  1|  2017|         0|         35|             0|     1|   2|   5|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   2|   6|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   2|   7|            0|        0|       0|          0|          0|           0|           4|         0|         4|
|  1|  2017|         0|         35|             0|     1|   3|   1|            0|        0|       0|          0|          0|           0|           1|         0|         1|
|  1|  2017|         0|         35|             0|     1|   3|   2|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   3|   3|            0|        0|       0|          0|          0|           0|           0|         0|         0|
|  1|  2017|         0|         35|             0|     1|   3|   4|            0|        0|       0|          0|          0|           0|           3|         0|         3|
|  1|  2017|         0|         35|             0|     1|   3|   5|            0|        0|       0|          0|          0|           0|           1|         0|         1|
|  1|  2017|         0|         35|             0|     1|   3|   6|            0|        0|       0|          0|          0|           0|           1|         0|         1|
+---+------+----------+-----------+--------------+------+----+----+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+
only showing top 20 rows

In [ ]:
df.select([sum(col(i).isNull().cast('int')).alias(i) for i in df.select([column for column, datatypes in df.dtypes if datatypes in ['int']]).columns]).show()

+---+------+----------+-----------+--------------+------+----+----+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+
| id|season|dl_applied|win_by_runs|win_by_wickets|inning|over|ball|is_super_over|wide_runs|bye_runs|legbye_runs|noball_runs|penalty_runs|batsman_runs|extra_runs|total_runs|
+---+------+----------+-----------+--------------+------+----+----+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+
|  0|     0|         0|          0|             0|     0|   0|   0|            0|        0|       0|          0|          0|           0|           0|         0|         0|
+---+------+----------+-----------+--------------+------+----+----+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+