
# Create the dataFrame

In [0]:
data = [
                {
                    "id":1,
                    "name": "joy",
                    "age":34
                },
                {
                    "id":2,
                    "name": "nihal",
                    "age":43
                },
                {
                    "id":3,
                    "name": "abhi",
                    "age":43
                },
                {
                    "id":4,
                    "name": "aditya",
                    "age":67
                },
                {
                    "id":5,
                    "name": "raj",
                    "age":34
                },
                {
                    "id":6,
                    "name": "dip",
                    "age":34
                }
]

df = spark.createDataFrame(data)
df.show()

+---+---+------+
|age| id|  name|
+---+---+------+
| 34|  1|   joy|
| 43|  2| nihal|
| 43|  3|  abhi|
| 67|  4|aditya|
| 34|  5|   raj|
| 34|  6|   dip|
+---+---+------+

In [0]:
data1 = [
                {
                    "id":1,
                    "yx": 4,
                    "salary":4000
                },
                {
                    "id":2,
                    "yx": 5,
                    "salary":3000
                },
                {
                    "id":3,
                    "yx": 6,
                    "salary":5000
                },
                {
                    "id":4,
                    "yx": 2,
                    "salary":1000
                },
                {
                    "id":7,
                    "yx": 5,
                    "salary":7000
                },
                {
                    "id":8,
                    "yx": 3,
                    "salary":2500
                }
]

df1 = spark.createDataFrame(data1)
df1.show()

+---+------+---+
| id|salary| yx|
+---+------+---+
|  1|  4000|  4|
|  2|  3000|  5|
|  3|  5000|  6|
|  4|  1000|  2|
|  7|  7000|  5|
|  8|  2500|  3|
+---+------+---+


# Default "Inner join"

In [0]:
jdf = df.join(df1, "id")
jdf.show()

+---+---+------+------+---+
| id|age|  name|salary| yx|
+---+---+------+------+---+
|  1| 34|   joy|  4000|  4|
|  2| 43| nihal|  3000|  5|
|  3| 43|  abhi|  5000|  6|
|  4| 67|aditya|  1000|  2|
+---+---+------+------+---+


# Left Join

In [0]:
ldf = df.join(df1, "id", 'left')
ldf.show()

+---+---+------+------+----+
| id|age|  name|salary|  yx|
+---+---+------+------+----+
|  1| 34|   joy|  4000|   4|
|  2| 43| nihal|  3000|   5|
|  3| 43|  abhi|  5000|   6|
|  4| 67|aditya|  1000|   2|
|  5| 34|   raj|  null|null|
|  6| 34|   dip|  null|null|
+---+---+------+------+----+


# Right Join

In [0]:
rdf = df1.join(df, "id", 'left')
rdf.show()

+---+------+---+----+------+
| id|salary| yx| age|  name|
+---+------+---+----+------+
|  1|  4000|  4|  34|   joy|
|  2|  3000|  5|  43| nihal|
|  3|  5000|  6|  43|  abhi|
|  4|  1000|  2|  67|aditya|
|  7|  7000|  5|null|  null|
|  8|  2500|  3|null|  null|
+---+------+---+----+------+


# Outer Join

In [0]:
oldf = df.join(df1, "id", "outer")
oldf.show()

+---+----+------+------+----+
| id| age|  name|salary|  yx|
+---+----+------+------+----+
|  1|  34|   joy|  4000|   4|
|  2|  43| nihal|  3000|   5|
|  3|  43|  abhi|  5000|   6|
|  4|  67|aditya|  1000|   2|
|  5|  34|   raj|  null|null|
|  6|  34|   dip|  null|null|
|  7|null|  null|  7000|   5|
|  8|null|  null|  2500|   3|
+---+----+------+------+----+


# left-semi Join

In [0]:
df.show()

+---+---+------+
|age| id|  name|
+---+---+------+
| 34|  1|   joy|
| 43|  2| nihal|
| 43|  3|  abhi|
| 67|  4|aditya|
| 34|  5|   raj|
| 34|  6|   dip|
+---+---+------+

In [0]:
df1.show()

+---+------+---+
| id|salary| yx|
+---+------+---+
|  1|  4000|  4|
|  2|  3000|  5|
|  3|  5000|  6|
|  4|  1000|  2|
|  7|  7000|  5|
|  8|  2500|  3|
+---+------+---+

In [0]:
sldf = df.join(df1, "id", "left_semi")
sldf.show()

+---+---+------+
| id|age|  name|
+---+---+------+
|  1| 34|   joy|
|  2| 43| nihal|
|  3| 43|  abhi|
|  4| 67|aditya|
+---+---+------+

In [0]:
sldf = df.join(df1, "id", "left_semi").select("name")
sldf.show()

+------+
|  name|
+------+
|   joy|
| nihal|
|  abhi|
|aditya|
+------+


# left_anti Join

In [0]:
df1.show()

+---+------+---+
| id|salary| yx|
+---+------+---+
|  1|  4000|  4|
|  2|  3000|  5|
|  3|  5000|  6|
|  4|  1000|  2|
|  7|  7000|  5|
|  8|  2500|  3|
+---+------+---+

In [0]:
df.show()

+---+---+------+
|age| id|  name|
+---+---+------+
| 34|  1|   joy|
| 43|  2| nihal|
| 43|  3|  abhi|
| 67|  4|aditya|
| 34|  5|   raj|
| 34|  6|   dip|
+---+---+------+

In [0]:
lldf = df.join(df1, "id", "left_anti")
lldf.show()

+---+---+----+
| id|age|name|
+---+---+----+
|  5| 34| raj|
|  6| 34| dip|
+---+---+----+

In [0]:
rldf = df.join(df1, "id", "right")
rldf.show()

+---+----+------+------+---+
| id| age|  name|salary| yx|
+---+----+------+------+---+
|  1|  34|   joy|  4000|  4|
|  2|  43| nihal|  3000|  5|
|  3|  43|  abhi|  5000|  6|
|  4|  67|aditya|  1000|  2|
|  7|null|  null|  7000|  5|
|  8|null|  null|  2500|  3|
+---+----+------+------+---+